<style type="text/css">
    h1{

        text-align: center;
        width: 100%;
        font-size:10em;
    }
	img{
        display: block;
		width: 50%;
		margin: 0 auto;
        margin-left:auto;
        margin-right:auto;
	}
</style>
<h1>Metriculous</h1>
{% if graphs %}
    <ul>
    {% for graph in graphs %}
        <li><a href="../graphs/{{ question }}">{{ question }}</a></li>

        <img src="/static/{{graph}}">

    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% load static %}
